*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}
body{
    background-color: whitesmoke;
    /* background-color: #FEED61; */
}

/* universal section starts here */
.container{
    margin: 0 auto;
    padding: 3%;
    
}


.container1{
    margin: 0 auto;
    padding: 4%;
    
}
/* universaln */




/* header section starts here */

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .icon-blog{
    display: flex;
    align-items: center;

}

header button{
    padding: 0.5rem 1rem;
    background-color: #282828;
    border-radius: 4px;
    color: #fff;
}

header button:hover{
    background-color: #2869E7;
    color: white;
}

header a{
    color: grey;
   
}

header nav a:hover{
    color:  #2869E7;
}


header nav  .home{
    color: #2869E7;
}

header h2{
    color: #111812;
	margin-left: -85px;

}

header .nav1{
	margin-left: 75px;
}

header .icon-blog i{
	margin-right: 95px;
}

/* header section ends here */



/* about section starts here */

#about{
    margin-top: 60px;
}

#about .about1{
    display: flex;
  
    justify-content: space-around;
	margin-right: 17%
}


#about .top-info{
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #DBF2E8;
  width: 290px;
  height: 40px;
  margin-left: 150px;
  border-radius: 20px;
  padding: 5px;
 
  
  
}

#about .top-info p{
    text-align: center;
    color: #23CB85;
    font-size: 0.9rem;
    margin-left: 25px;
}

#about .top-info i{
    margin-right: -10px;
}

#about h2{
    font-size: 2.6rem;
    padding-bottom: 20px;
    line-height: 50px;
}

#about .info-down{
    margin-top: 40px;
    margin-left: 30px;
}

#about .info-down p{
    line-height: 30px;
    color: grey;
    font-size: 1.2rem;

}

#about button{
    padding: 0.8rem 1.9rem;
    border-radius: 20px;
    background-color: #0100FC;
    color: white;
    margin-top: 40px;
}

#about button:hover{
    background-color: white;
    color: #0100FC;
}

.about2 img{
   display: block;
   margin-right: -270px;
   height: 400px;
   width: 550px;
   border-radius: .5rem;
}



/* about section ends here */


 /* build section starts here */


#achievement .achievement-down h3{
	text-align: center;
	color: #00030a;
	font-weight: bold;
	font-size: 25px;
 }
 
 #achievement .achievement-down h2{
	 text-align: center;
	 color: #252541;
	 margin-top: 20px;
	 font-weight: lighter;
	 font-size: 12px;
  }
 
 
  #achievement .achievement-down{
	 padding-bottom: 70px;
  }
 

 /* build section ends here */




 
  /* communication starts here  */

/* .comm{
	display: flex;
	align-items: center;
	
}

 .comm .row .content{
	flex: flex-box;
	align-items: center;
}

.comm .row .content h3{
	color: #00030a;
	font-size: 2rem;
	line-height: 1.8;
}

.comm .row .content p{
	color: #252541;
	font-size: 1.2rem;
	line-height: 1.8;
	margin-top: 10px;
}

.comm .row .image{
	flex: 1 1 45rem;
	margin-right: -252px;
}

.comm .row .image img{
	width: 50%;
	height: 50%;
	object-fit: cover;
	border-radius: .5rem;
	
} */

/* down section starts here */

#down-sec{
    margin-top: 70px;
}
#down-sec .down-info{
    display: flex;
   
    justify-content: space-around;
    padding-bottom: 30px;
    
}

#down-sec .down-info1{
    display: flex;
    
    justify-content: space-around;
    padding-bottom: 30px;
	padding-top: 50px;
    
}


#down-sec .down-info2{
    display: flex;
  
    justify-content: space-around;
	padding-top: 50px;
    
}


#down-sec .top-info p{
    text-align: center;
    
}

#down-sec .text1{
    font-size: 2rem;
    padding-bottom: 20px;
    line-height: 50px;
}

#down-sec h3{
   color: #6EA2F8;
   
    line-height: 50px;
}

#down-sec .info-down{
    margin-top: 40px;
}

#down-sec .info-down .text{
    line-height: 30px;
    color: grey;
    font-size: 1.2rem;

}

#down-sec .down-level{
    display: flex;
    gap: 20px;
}



#down-sec .down-person{
    display: flex;
    align-items: center;

    margin-top: 60px;
    gap: 20px;
}


#down-sec button{
    padding: 0.8rem 1.9rem;
    border-radius: 20px;
    color: #5E88F2;
    margin-top: 40px;
    background-color: #FFFFFF;
}

/* #down-sec .btn{
    background-color: blueviolet;
} */




/* down section ends here */


  /* communication stops header */










  /* subscribe button starts here */

.sub{
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
}


  .subscribe {
    margin-top: 20px;
    text-align: center;
  }
  .subscribe input[type="email"] {
    padding: 10px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin-right: 10px;
  }
  .subscribe button {
    padding: 10px 20px;
    background-color: #00030a;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }

  .subscribe button:hover{
	background-color: #0100FC;
  }

  /* subscribe button ends here */


  .task-img{
	width: 100%;
	display: flex;
	margin-top: 70px;
	margin-bottom: 70px;
	
  }

  .task-img img{
	width: 95%;
	align-items: center;
	margin-left: 30px;
  }





  /* footer section starts header */





  
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 20px;
  }
  .footer-item {
    flex: 1;
    margin-left: 50px;
	margin-top: 20px;
  }
  /* Adjust styles as needed */
  .footer-item h3 {
    margin-top: 0;

  }

.footer {
	align-items: center;
	margin-top: 10px;
}

.footer .credit{
	align-items: center;
	text-align: center;
	font-size: 1rem;
	font-weight: lighter;
	margin-top: 60px;
	color:#8c8e8f;
  }

  /* footer section ends here */